/*  code ： "白姫" */
/* access： 瞳孔中 */

/* リスト：ルート色素を検出 対応：記録および追跡 */
/* 加増する可能性があります。厳重な追跡を行ってください。 */
:root {
  --decord-bg: #2d2d32;
  --decord-bd: #3a3a3f;
  --ffffffBlack: #000406;
  --ffffffWhite: #ffffff;
  --ffffffMarin: #000046;
  --ffffffBloom: #02e;
  --shikroMacha: #496;
  --shikroGreen: #1f0;
  --hidden: #20ad4d00;
  --xx: #25a3;
}