  /*

*/

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: var(--bcd2);
  display: flex;
  flex-direction: column;
}

body .display-container .main-container {
  display: flex;
}

/*
    header / display
*/

.header-container {
  width: 100%;
  height: 2rem;
  background-color: var(--hidden);
}

.display-container {
  width: 100%;
  flex: 1;
  background-color: var(--hidden);
}

/*
    sidebar
*/

.side-container {
  width: 6rem;
  height: 100%;
}

/*
    main
*/

.main-container {
  flex: 1;
  height: 100%;
}


