:root {
  --bcd2: #2b2c2d;
  --ffffffBlack: #000406;
  --ffffffWhite: #ffffff;
  --ffffffMarin: #000046;
  --ffffffBloom: #02e;
  --shikroMacha: #496;
  --shikroGreen: #1f0;
  --hidden: #20ad4d00;
  --xx: #25a3;
}